:root {
    --default-text-color: #000;
    --color-light: #FF3D00;
}

body {
    color: var(--default-text-color);
    font-family: 'Roboto', sans-serif;
}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    font-size: 2.5rem;
    animation: glitch 2.5s infinite;
}

.likes {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--color-light);
    cursor: pointer;
}

.likes::before {
    display: inline-block;
    content: '';
    background: url(images/likes.svg) center/ 14px no-repeat;
    width: 14px;
    height: 14px;
    margin: 0px 6px -2px 0px;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.menu__items {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

.menu__item {
    position: relative;
    list-style: none;
    color: var(--color-light);
    flex-grow: 1;
}

.menu__link {
    display: flex;
    color: var(--text-color-light);
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid var(--color-light);
    border-radius: 7px;
    min-width: 155px;
    min-height: 54px;
    justify-content: center;
    align-items: center;
}

dialog {
    margin-top: -135px;
    font-size: 0.9rem;
    background-color: #000;
    border: 0;
    margin-left: -50px;
  
}

dialog, dialog a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
}

dialog::after {
    content: '';
    display: block;
    content: '';
    display: block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #000;
    position: absolute;
    bottom: -8px;
    left: 113px;
}

dialog[open] {
    animation: glitch 300ms;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
}

.content-block {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 1024px) {
    .content-block {
        width: 50%;
        flex-direction: row-reverse;
    }
}
/* JS */
.selected {
    background-color: var(--color-light);
    color: #FFF;
    font-weight: 600;
}
